@import url("../../assets/fonts/Montserrat/Montserrat.css");
@import url("../../assets/fonts/Work_Sans/WorkSans.css");

@mixin button {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    @media screen and (max-width: 1024px) {
        width: 180px;
    }
    @media screen and (max-width: 480px) {
        width: 170px; 
        height: 55px;
    }
}

@mixin button-pink-violet {
    font-size: 18px;
    line-height: 28.8px;
    color: #FFF;
    border: none;
}

@mixin socials-bg-hover {
    background-color: #FFF;
    width: 48px;
    height: 48px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #4B5D68;
}

.wrapper {
    width: 1170px;
    margin: auto;
    @media screen and (max-width: 1200px) {
        width: 95%;
    }
}

.title {
    font-size: 40px;
    color: #212353;
    line-height: 52px;
    font-family: "WorkSans", sans-serif;
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    line-height: 25.6px;
    color: #212353;
}

.text {
    font-size: 18px;
    color: #4B5D68;
    line-height: 28.8px;
}

.testimonials-features-text {
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 400;
}

.header {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    &__nav-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 120px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    &__navigation-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;
    }

    &__navigation-link {
        font-size: 16px;
        line-height: 25px;
        text-decoration: none;
        color: #4B5D68;
    
        &:hover {
            color: #8A40EE;
        } 
    } 

    &__hamburger {
        display: none;
    }
}

.button {
    @include button;
    border: 1px solid #9C69E2;
    background-color: #FFF;
    color: #212353;
    font-size: 16px;
    letter-spacing: 0.005em;
    line-height: 25px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;

    &:hover {
        background-color: #9C69E2;
        color: #FFF;
    }
}

.button-violet {
    @include button;
    @include button-pink-violet;
    background-color: #9C69E2;
    
    &:hover {
        background-color: #8A40EE;
    }
}

.button-pink {
    @include button;
    @include button-pink-violet;
    background-color: #F063B8;
    
    &:hover {
        background-color: #EB4BAB;
    }
}

.icon-arrow {
    width: 20px;
    height: 20px;
    fill: #9C69E2;
}

.button:hover .icon-arrow {
    fill: #FFF;
}

.first-screen {
    margin: 100px 0;
    .wrapper {
        height: 491px;
        position: relative;
    }

    .text {
        padding: 50px 0;
        width: 370px;
    }

    h1 {
        font-size: 80px;
        font-family: "WorkSans", sans-serif;
        font-weight: 700;
        line-height: 88px;
        color: #212353;
        width: 601px;
    }

    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.we-are {
    .wrapper {
        background:  #FDE8F5;
        border-radius: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 560px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .text {
        padding-top: 40px;
    }

    &__content {
        width: 500px;
    }
}

.features {
    margin: 120px 0;
    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 50px 30px;
    }

    .text {
        padding: 30px 0 80px;
    }

    &__content {
        text-align: center;
    }

    &__image {
        position: absolute;
        left: 0;
        top: 120px;
        z-index: 1;
        @media screen and (max-width: 1200px) {
            width: 180px;
        }
        @media screen and (max-width: 1024px) {
            width: 130px;
        }
        @media screen and (max-width: 768px) {
            width: 150px;
        }
        @media screen and (max-width: 480px) {
            display: none;    
        }
    }

    &__cards {
        width: 570px;
        height: 400px;
        position: relative;

        &-bg {
            width: 400px;
            height: 400px;
            border-radius: 50px;
            float: right;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            &--green {
                background: #F0FAF9;
                position: relative;
            }
        
            &--violet {
                background-color: #F6F0FD;
                position: relative;
            }
        
            &--pink {
                background-color: #FEF0F8;
                position: relative;
            }
        
            &--blue {
                background-color: #EAF6FC;
                position: relative;
            }
        }

        &-content {
            width: 230px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 20px;
            z-index: 1;
        }

        &-title {
            font-size: 24px;
            font-family: "WorkSans", sans-serif;
            font-weight: 400;
            line-height: 31px;
            color: #212353;
        }

        .testimonials-features-text {
            height: 180px;
        }

        &-link {
            font-size: 16px;
            line-height: 25.6px;
            font-weight: 700;
            letter-spacing: 0.005em;
            color: #212353;
            text-decoration: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 20px;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    }

    &__stains-bg-green {
        position: absolute;
        top: 20px;
        right: 50px;
        z-index: -1;
    }

    &__stains-bg-violet {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: -1;
    }

    &__stains-bg-pink {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: -1;
    }

    &__stains-bg-blue {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: -1;
        @media screen and (max-width: 1024px) {
            width: 290px;
        }
    }
}

.testimonials {
    .wrapper {
        background: #CCDDFF;
        border-radius: 50px;
        height: 580px;
        position: relative;
    }

    h2 {
        text-align: center;
        padding: 80px 0;
        color: #4B5D68;
        position: relative;
        z-index: 1;
    }

    &__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 1030px;
        margin: auto;
        position: relative;
        z-index: 1;
    }

    &-stains-left {
        position: absolute;
        top: 0;
        left: 0; 
    }
    
    &-stains-right {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__bg {
        background-color: #FFF;
        border-radius: 50px;
        border: 1px solid #9C69E2;
        -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
                box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
        width: 465px;
        height: 300px;
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 15px;
        margin: 50px 30px;
    }

    &__content {
        width: 300px;
        height: 200px;
      
        &-link {
            text-decoration: none;
            color: #9C69E2;
        }

        .testimonials-features-text {
            padding-top: 18.69px;
        }
    }

    &__avatar {
        border-radius: 45px;
    }
}

.footer {
    margin: 120px 0;
    &__heading {
        height: 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        &-button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 30px;
        }
    }

    h3 {
        font-weight: 600;
        padding-bottom: 20px;
    }

    .text {
        padding-top: 20px;
    }
    
    &__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 225px;
        padding: 100px 0; 
    }

    &__info {
        &-name {
            font-size: 20px;
            font-weight: 600;
            color: #212353;
            line-height: 32px;
            padding-left: 20px;
        }

        &-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 10px;
            padding-top: 60px;
        }

        &-adress {
            text-decoration: none;
            font-size: 16px;
            line-height: 28.8px;
            letter-spacing: 0.01em;
            color: #212353;
        }

        &-personal {
            font-size: 16px;
            font-weight: 400;
            line-height: 28.8px;
            letter-spacing: 0.01em;
            color: #212353;
            text-decoration: none;
        }
    }

    &__navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 169px;

        &-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 10px;
        }

        &-link {
            text-decoration: none;
            font-size: 16px;
            line-height: 25.6px;
            color: #4B5D68;
        
            &:hover {
                color: #8A40EE;
            }
        }
    }

    &__socials {
        &-block {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            gap: 15px;
        }

        &-bg {
            background-color: #E5E5E5;;
            border-radius: 50px;
            width: 50px;
            height: 50px;

            &--dark {
                &:hover {
                    @include socials-bg-hover;
                    border: 1px solid #3B5998;
                }

                &:hover .footer__socials-icon--dark {
                    fill: #3B5998;
                }
            }

            &--blue {
                &:hover {
                    @include socials-bg-hover;
                    border: 1px solid #00ACEE;

                    &:hover .footer__socials-icon--blue {
                        fill: #00ACEE;
                    }
                 }
            }

            &--pink{
                &:hover {
                    @include socials-bg-hover;
                    border: 1px solid #C13584;

                    &:hover .footer__socials-icon--pink {
                        fill: #C13584;
                    }
                }
            }
        }

        &-icon {
            width: 18px;
            height: 18px;
            padding: 16px;
            display: block;
            fill: #FFF;
        }
    }

    &__end-text {
        font-size: 12px;
        font-weight: 300;
        color: #212353;
        letter-spacing: 0.01em;
        line-height: 21.6px;
    }
}

@media screen and (max-width: 1200px) {
    .features {
        &__cards {
            width: 470px;
            height: 350px;
    
            &-bg {
                width: 350px;
                height: 350px;
            }

            &-content {
                padding-left: 20px;
            }
        }
    }

    .testimonials {
        &__block {
            width: 100%;
        }

        &__bg {
            width: 450px;
        }
    }

    .footer {
        &__block {
            gap: 180px;
        }

        &__navigation {
            gap: 120px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .header__nav-logo {
        gap: 90px;
    }

    .first-screen {
        .wrapper {
            height: 650px;
        }
    }

    .features {
        .wrapper {
            gap: 30px 10px;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

        &__cards {
            width: 360px;
            height: 300px;
    
            &-bg {
                width: 300px;
                height: 300px;
            }

            &-content {
                padding-left: 60px;
                gap: 15px;
                width: 220px;
            }
        }

        .testimonials-features-text {
            height: 150px;
            font-size: 14px;
        }
    }

    .we-are {
        &__content {
            width: 380px;
        }
    }

    .testimonials {
        &-stains-left {
            width: 400px;
        }

        &-stains-right {
            width: 450px;
        }

        &__bg {
            width: 350px;
            height: 330px;
        }
    }

    .footer {
        margin-bottom: 90px;

        &__block {
            gap: 140px;
            padding-bottom: 60px;
        }

        &__navigation {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            gap: 50px 100px;
            width: 300px;
        }
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 35px;
    }

    .header {
        .wrapper {
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
        }

        &__hamburger {
            position: relative;
            height: 20px;
            width: 34px;
            border: none;
            background: none;
            padding: 5px 0;
            display: block;
            top: 10px;
        }

        .bar {
            position: absolute;
            width: 34px;
            height: 2px;
            background-color: #000000;
            border-radius: 2px;
             -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
             transition: opacity 0.4s, -webkit-transform 0.4s;
             -o-transition: transform 0.4s, opacity 0.4s;
             transition: transform 0.4s, opacity 0.4s;
             transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
            
            &:nth-child(1) {
                -webkit-transform: translateY(-10px);
                    -ms-transform: translateY(-10px);
                        transform: translateY(-10px);
            }
            &:nth-child(3) {
                -webkit-transform: translateY(10px);
                    -ms-transform: translateY(10px);
                        transform: translateY(10px);
            }
        }

        &.open .bar {
            &:nth-child(1) {
                -webkit-transform: translateY(0) rotate(45deg);
                    -ms-transform: translateY(0) rotate(45deg);
                        transform: translateY(0) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                -webkit-transform: translateY(0) rotate(-45deg);
                    -ms-transform: translateY(0) rotate(-45deg);
                        transform: translateY(0) rotate(-45deg);
            }
        }

        &.open .wrapper {
            padding-bottom: 94px;
        }
        
        &__navigation-menu {
            letter-spacing: 0.1em;
            position: absolute;
            z-index: 0;
            left: 50%;
            -webkit-transform-origin: top;
                -ms-transform-origin: top;
                    transform-origin: top;
            -webkit-transform: translate(-50%) scaleY(0);
                -ms-transform: translate(-50%) scaleY(0);
                    transform: translate(-50%) scaleY(0);
            top: 90px;
            -webkit-transition: top 0.3s, -webkit-transform 0.2s ease-in-out;
            transition: top 0.3s, -webkit-transform 0.2s ease-in-out;
            -o-transition: top 0.3s, transform 0.2s ease-in-out;
            transition: top 0.3s, transform 0.2s ease-in-out;
            transition: top 0.3s, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
        }

        &__navigation-link {
            font-size: 14px;
            text-transform: uppercase;
        }
        
        &.open .header__navigation-menu {
            -webkit-transform: translate(-50%) scaleY(1);
                -ms-transform: translate(-50%) scaleY(1);
                    transform: translate(-50%) scaleY(1);
            top: 120px;
        }

        &__actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 30px;
        }
    }

    .first-screen {
        margin-top: 40px;
        .wrapper {
            height: auto;
        }

        .text {
            text-align: center;
            width: 100%;
        }

        h1 {
            font-size: 60px;
            text-align: center;
            width: 100%;
        }

        &__image {
            position: static;
            display: block;
            margin: auto;
            padding-top: 50px;
        }

        &__actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }

    .we-are {
        .wrapper {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

        &__image {
            display: none;
        }
    }

    .features {
        &__cards {
            width: 400px;

            &-content {
                padding-left: 25px;
            }
        }  
    }

    .testimonials {
        .wrapper {
            height: 1000px;
        }

        &__block {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            gap: 30px;
        }

        &-stains-right {
            bottom: 50px;
            top: unset;
        }
    }

    .footer {
        &__heading {
            height: 140px;

            &-button {
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: end;
                gap: 15px;
            }
        }

        &__block {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            gap: 70px;
        }

        &__info {
            text-align: center;

            &-list {
                padding-top: 40px;
            }
        }

        &__navigation {
            gap: 40px 90px;
            width: 250px;
            text-align: center;
        }

        &__socials {
            padding-left: 30px;
        }

        &__end-text {
            text-align: center;
        }
    }
}

@media screen and (max-width: 480px) { 
    .text {
        font-size: 16px; 
    }
    
    .title {
        font-size: 30px;  
        line-height: 40px; 
    }

    .header {
        &__nav-logo {
            gap: 30px; 
        }

        &.open .wrapper {
            padding-bottom: 250px;
        }
        
        &__navigation-menu {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            text-align: center;
            gap: 30px;
        }
    }

    .first-screen {
        margin: 50px 0;
        .text {
            padding: 40px 0;
        }

        h1 {
            font-size: 45px;
            line-height: 50px;
        }
    }

    .we-are {
        .wrapper {
            width: 100%; 
        }

        .text {
            padding-top: 30px; 
        }

        &__content {
            width: 290px; 
            text-align: center; 
        }
    }

    .features,
    .footer {
        margin: 80px 0;
    }

    .features {
        .text {
            padding-bottom: 60px;
        }

        &__cards,
        &__cards-bg {
            width: 280px; 
            height: 280px;  
        }
    }

    .testimonials {
        .wrapper {
            width: 100%; 
        }

        h2 {
            padding: 60px 0;
        }

        &-stains-left {
            width: 318px;
        }

        &__bg {
            width: 290px;  
            height: 370px; 
        }

        &__container {
            margin: 35px 20px;    
            -webkit-box-orient: vertical;    
            -webkit-box-direction: normal;    
                -ms-flex-direction: column;    
                    flex-direction: column;
        }

        &__content {
            width: 270px;
        }
    }

    .footer {
        &__heading {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            height: auto;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            &-button {
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }

            &-title {
                text-align: center;
                padding-bottom: 30px;
            }
        }

        &__block {
            padding: 70px 0;
        }

    }  
}



