.title {
    font-family: 'Delius Unicase', cursive; 
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

.architectural__content {
    display: grid;
    width: 1170px;
    height: 1170px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 370px);
    gap: 30px;
    margin: 0 auto;
}

.image {
    border-radius: 20px;
}

.architectural__b {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.architectural__c {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.architectural__f {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.life-photo__content {
    display: grid;
    width: 1170px;
    height: 1570px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(4, 370px);
    gap: 30px;
    margin: 0 auto;
}

.life-photo__b {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.life-photo__c {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.life-photo__d {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.life-photo__e {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
