@import url("../../assets/fonts/Montserrat/Montserrat.css");
@import url("../../assets/fonts/Work_Sans/WorkSans.css");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #4B5D68;
}

.wrapper {
  width: 1170px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 95%;
  }
}

.title {
  font-size: 40px;
  color: #212353;
  line-height: 52px;
  font-family: "WorkSans", sans-serif;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  line-height: 25.6px;
  color: #212353;
}

.text {
  font-size: 18px;
  color: #4B5D68;
  line-height: 28.8px;
}

.testimonials-features-text {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
}

.header {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-logo {
  display: flex;
  gap: 120px;
  align-items: center;
}
.header__navigation-menu {
  display: flex;
  gap: 40px;
}
.header__navigation-link {
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  color: #4B5D68;
}
.header__navigation-link:hover {
  color: #8A40EE;
}
.header__hamburger {
  display: none;
}

.button {
  width: 210px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border: 1px solid #9C69E2;
  background-color: #FFF;
  color: #212353;
  font-size: 16px;
  letter-spacing: 0.005em;
  line-height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .button {
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .button {
    width: 170px;
    height: 55px;
  }
}
.button:hover {
  background-color: #9C69E2;
  color: #FFF;
}

.button-violet {
  width: 210px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  font-size: 18px;
  line-height: 28.8px;
  color: #FFF;
  border: none;
  background-color: #9C69E2;
}
@media screen and (max-width: 1024px) {
  .button-violet {
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .button-violet {
    width: 170px;
    height: 55px;
  }
}
.button-violet:hover {
  background-color: #8A40EE;
}

.button-pink {
  width: 210px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  font-size: 18px;
  line-height: 28.8px;
  color: #FFF;
  border: none;
  background-color: #F063B8;
}
@media screen and (max-width: 1024px) {
  .button-pink {
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .button-pink {
    width: 170px;
    height: 55px;
  }
}
.button-pink:hover {
  background-color: #EB4BAB;
}

.icon-arrow {
  width: 20px;
  height: 20px;
  fill: #9C69E2;
}

.button:hover .icon-arrow {
  fill: #FFF;
}

.first-screen {
  margin: 100px 0;
}
.first-screen .wrapper {
  height: 491px;
  position: relative;
}
.first-screen .text {
  padding: 50px 0;
  width: 370px;
}
.first-screen h1 {
  font-size: 80px;
  font-family: "WorkSans", sans-serif;
  font-weight: 700;
  line-height: 88px;
  color: #212353;
  width: 601px;
}
.first-screen__image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.we-are .wrapper {
  background: #FDE8F5;
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 560px;
  justify-content: space-around;
}
.we-are .text {
  padding-top: 40px;
}
.we-are__content {
  width: 500px;
}

.features {
  margin: 120px 0;
}
.features .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}
.features .text {
  padding: 30px 0 80px;
}
.features__content {
  text-align: center;
}
.features__image {
  position: absolute;
  left: 0;
  top: 120px;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .features__image {
    width: 180px;
  }
}
@media screen and (max-width: 1024px) {
  .features__image {
    width: 130px;
  }
}
@media screen and (max-width: 768px) {
  .features__image {
    width: 150px;
  }
}
@media screen and (max-width: 480px) {
  .features__image {
    display: none;
  }
}
.features__cards {
  width: 570px;
  height: 400px;
  position: relative;
}
.features__cards-bg {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features__cards-bg--green {
  background: #F0FAF9;
  position: relative;
}
.features__cards-bg--violet {
  background-color: #F6F0FD;
  position: relative;
}
.features__cards-bg--pink {
  background-color: #FEF0F8;
  position: relative;
}
.features__cards-bg--blue {
  background-color: #EAF6FC;
  position: relative;
}
.features__cards-content {
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
.features__cards-title {
  font-size: 24px;
  font-family: "WorkSans", sans-serif;
  font-weight: 400;
  line-height: 31px;
  color: #212353;
}
.features__cards .testimonials-features-text {
  height: 180px;
}
.features__cards-link {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 700;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.features__stains-bg-green {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: -1;
}
.features__stains-bg-violet {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: -1;
}
.features__stains-bg-pink {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: -1;
}
.features__stains-bg-blue {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .features__stains-bg-blue {
    width: 290px;
  }
}

.testimonials .wrapper {
  background: #CCDDFF;
  border-radius: 50px;
  height: 580px;
  position: relative;
}
.testimonials h2 {
  text-align: center;
  padding: 80px 0;
  color: #4B5D68;
  position: relative;
  z-index: 1;
}
.testimonials__block {
  display: flex;
  justify-content: space-around;
  width: 1030px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.testimonials-stains-left {
  position: absolute;
  top: 0;
  left: 0;
}
.testimonials-stains-right {
  position: absolute;
  right: 0;
  top: 0;
}
.testimonials__bg {
  background-color: #FFF;
  border-radius: 50px;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  width: 465px;
  height: 300px;
}
.testimonials__container {
  display: flex;
  gap: 15px;
  margin: 50px 30px;
}
.testimonials__content {
  width: 300px;
  height: 200px;
}
.testimonials__content-link {
  text-decoration: none;
  color: #9C69E2;
}
.testimonials__content .testimonials-features-text {
  padding-top: 18.69px;
}
.testimonials__avatar {
  border-radius: 45px;
}

.footer {
  margin: 120px 0;
}
.footer__heading {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__heading-button {
  display: flex;
  gap: 30px;
}
.footer h3 {
  font-weight: 600;
  padding-bottom: 20px;
}
.footer .text {
  padding-top: 20px;
}
.footer__block {
  display: flex;
  gap: 225px;
  padding: 100px 0;
}
.footer__info-name {
  font-size: 20px;
  font-weight: 600;
  color: #212353;
  line-height: 32px;
  padding-left: 20px;
}
.footer__info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 60px;
}
.footer__info-adress {
  text-decoration: none;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer__info-personal {
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.01em;
  color: #212353;
  text-decoration: none;
}
.footer__navigation {
  display: flex;
  gap: 169px;
}
.footer__navigation-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__navigation-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 25.6px;
  color: #4B5D68;
}
.footer__navigation-link:hover {
  color: #8A40EE;
}
.footer__socials-block {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.footer__socials-bg {
  background-color: #E5E5E5;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.footer__socials-bg--dark:hover {
  background-color: #FFF;
  width: 48px;
  height: 48px;
  border: 1px solid #3B5998;
}
.footer__socials-bg--dark:hover .footer__socials-icon--dark {
  fill: #3B5998;
}
.footer__socials-bg--blue:hover {
  background-color: #FFF;
  width: 48px;
  height: 48px;
  border: 1px solid #00ACEE;
}
.footer__socials-bg--blue:hover:hover .footer__socials-icon--blue {
  fill: #00ACEE;
}
.footer__socials-bg--pink:hover {
  background-color: #FFF;
  width: 48px;
  height: 48px;
  border: 1px solid #C13584;
}
.footer__socials-bg--pink:hover:hover .footer__socials-icon--pink {
  fill: #C13584;
}
.footer__socials-icon {
  width: 18px;
  height: 18px;
  padding: 16px;
  display: block;
  fill: #FFF;
}
.footer__end-text {
  font-size: 12px;
  font-weight: 300;
  color: #212353;
  letter-spacing: 0.01em;
  line-height: 21.6px;
}

@media screen and (max-width: 1200px) {
  .features__cards {
    width: 470px;
    height: 350px;
  }
  .features__cards-bg {
    width: 350px;
    height: 350px;
  }
  .features__cards-content {
    padding-left: 20px;
  }
  .testimonials__block {
    width: 100%;
  }
  .testimonials__bg {
    width: 450px;
  }
  .footer__block {
    gap: 180px;
  }
  .footer__navigation {
    gap: 120px;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav-logo {
    gap: 90px;
  }
  .first-screen .wrapper {
    height: 650px;
  }
  .features .wrapper {
    gap: 30px 10px;
    justify-content: center;
  }
  .features__cards {
    width: 360px;
    height: 300px;
  }
  .features__cards-bg {
    width: 300px;
    height: 300px;
  }
  .features__cards-content {
    padding-left: 60px;
    gap: 15px;
    width: 220px;
  }
  .features .testimonials-features-text {
    height: 150px;
    font-size: 14px;
  }
  .we-are__content {
    width: 380px;
  }
  .testimonials-stains-left {
    width: 400px;
  }
  .testimonials-stains-right {
    width: 450px;
  }
  .testimonials__bg {
    width: 350px;
    height: 330px;
  }
  .footer {
    margin-bottom: 90px;
  }
  .footer__block {
    gap: 140px;
    padding-bottom: 60px;
  }
  .footer__navigation {
    flex-wrap: wrap;
    gap: 50px 100px;
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 35px;
  }
  .header .wrapper {
    transition: 0.3s;
  }
  .header__hamburger {
    position: relative;
    height: 20px;
    width: 34px;
    border: none;
    background: none;
    padding: 5px 0;
    display: block;
    top: 10px;
  }
  .header .bar {
    position: absolute;
    width: 34px;
    height: 2px;
    background-color: #000000;
    border-radius: 2px;
    transition: transform 0.4s, opacity 0.4s;
  }
  .header .bar:nth-child(1) {
    transform: translateY(-10px);
  }
  .header .bar:nth-child(3) {
    transform: translateY(10px);
  }
  .header.open .bar:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
  .header.open .bar:nth-child(2) {
    opacity: 0;
  }
  .header.open .bar:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }
  .header.open .wrapper {
    padding-bottom: 94px;
  }
  .header__navigation-menu {
    letter-spacing: 0.1em;
    position: absolute;
    z-index: 0;
    left: 50%;
    transform-origin: top;
    transform: translate(-50%) scaleY(0);
    top: 90px;
    transition: top 0.3s, transform 0.2s ease-in-out;
  }
  .header__navigation-link {
    font-size: 14px;
    text-transform: uppercase;
  }
  .header.open .header__navigation-menu {
    transform: translate(-50%) scaleY(1);
    top: 120px;
  }
  .header__actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .first-screen {
    margin-top: 40px;
  }
  .first-screen .wrapper {
    height: auto;
  }
  .first-screen .text {
    text-align: center;
    width: 100%;
  }
  .first-screen h1 {
    font-size: 60px;
    text-align: center;
    width: 100%;
  }
  .first-screen__image {
    position: static;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .first-screen__actions {
    display: flex;
    justify-content: center;
  }
  .we-are .wrapper {
    justify-content: center;
  }
  .we-are__image {
    display: none;
  }
  .features__cards {
    width: 400px;
  }
  .features__cards-content {
    padding-left: 25px;
  }
  .testimonials .wrapper {
    height: 1000px;
  }
  .testimonials__block {
    flex-wrap: wrap;
    gap: 30px;
  }
  .testimonials-stains-right {
    bottom: 50px;
    top: unset;
  }
  .footer__heading {
    height: 140px;
  }
  .footer__heading-button {
    flex-wrap: wrap;
    justify-content: end;
    gap: 15px;
  }
  .footer__block {
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
  }
  .footer__info {
    text-align: center;
  }
  .footer__info-list {
    padding-top: 40px;
  }
  .footer__navigation {
    gap: 40px 90px;
    width: 250px;
    text-align: center;
  }
  .footer__socials {
    padding-left: 30px;
  }
  .footer__end-text {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .text {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
    line-height: 40px;
  }
  .header__nav-logo {
    gap: 30px;
  }
  .header.open .wrapper {
    padding-bottom: 250px;
  }
  .header__navigation-menu {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .first-screen {
    margin: 50px 0;
  }
  .first-screen .text {
    padding: 40px 0;
  }
  .first-screen h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .we-are .wrapper {
    width: 100%;
  }
  .we-are .text {
    padding-top: 30px;
  }
  .we-are__content {
    width: 290px;
    text-align: center;
  }
  .features,
  .footer {
    margin: 80px 0;
  }
  .features .text {
    padding-bottom: 60px;
  }
  .features__cards, .features__cards-bg {
    width: 280px;
    height: 280px;
  }
  .testimonials .wrapper {
    width: 100%;
  }
  .testimonials h2 {
    padding: 60px 0;
  }
  .testimonials-stains-left {
    width: 318px;
  }
  .testimonials__bg {
    width: 290px;
    height: 370px;
  }
  .testimonials__container {
    margin: 35px 20px;
    flex-direction: column;
  }
  .testimonials__content {
    width: 270px;
  }
  .footer__heading {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    display: flex;
  }
  .footer__heading-button {
    justify-content: center;
  }
  .footer__heading-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .footer__block {
    padding: 70px 0;
  }
}/*# sourceMappingURL=style.css.map */